@media print {
  body * {
    visibility: hidden;
  }
  #customer-print, #customer-print * {
    visibility: visible;
  }
  #customer-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
